<h1>Please enter flight information.</h1>

<form action="/save_flight" method="POST" enctype="multipart/form-data">
  <p><input type="text" name="user_given_flight_name"></p>
  <p><input type="text" name="airline" value="airline"></p>
  <p><input type="text" name="flight_number" value="flight number"></p>
  <p><input type="text" name="destination" value="destination"></p>
  <p><input type="text" name="departure_time" value="departure time">
  <p><button type="submit">Send</button></p>
</form>

<br>
<a class="btn btn-secondary btn-sm" href="/" role="button">Cancel</a>
